.language-switcher {
  display: flex;
  gap: 0.5rem;
}

.language-switcher button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.language-switcher button:hover {
  background-color: white;
  color: #2c3e50;
}
